@use '../../components/GlobalStyles/Variables.scss' as variables;

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding-top: 35px;
}

.links {
    flex: 0 0 100%;
    max-width: 100%;

    a {
        font-size: 1.5rem;
        color: #ffffff;
        margin-right: 18px;
        display: inline-block;
        position: relative;
        text-decoration: none;
        background-color: transparent;
    }

    span {
        font-size: 1.5rem;
        color: #b7b7b7;
        display: inline-block;
    }
}

.house {
    margin-right: 8px;
    color: #e53637;
    font-size: 1.2rem;
    top: -2px;
    position: relative;
}

.arrow {
    position: absolute;
    right: -18px;
    top: 5px;
}

.products {
    padding-bottom: 60px;
    padding-top: 80px;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.main {
    width: 100%;

    @media (min-width: variables.$breakpoint-lg) {
        flex: 0 0 calc(200% / 3);
        max-width: calc(200% / 3);
    }
}

.product-container {
    margin-bottom: 50px;
}

.sub {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;

    @media (min-width: variables.$breakpoint-lg) {
        flex: 0 0 calc(100% / 3);
        max-width: calc(100% / 3);
    }
}

.top {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    margin: 0px 15px 30px;
}

.title-container {
    width: 100%;

    @media (min-width: variables.$breakpoint-sm) {
        flex: 0 0 50%;
        max-width: 50%;
    }
    @media (min-width: variables.$breakpoint-md) {
        flex: 0 0 calc(200% / 3);
        max-width: calc(200% / 3);
    }
}

.title {
    @media only screen and (max-width: calc(variables.$breakpoint-md - 1px)) {
        margin-bottom: 30px;
    }
}

.title h4 {
    font-size: 2.4rem;
    margin: 0;
    color: #ffffff;
    font-weight: 600;
    line-height: 21px;
    text-transform: uppercase;
    padding-left: 20px;
    position: relative;
    font-family: 'Oswald', sans-serif;

    &::after {
        position: absolute;
        left: 0;
        top: -6px;
        height: 32px;
        width: 4px;
        background: #e53637;
        content: '';
    }
}

.filter-container {
    position: relative;

    width: 100%;
    text-align: right;

    @media (min-width: variables.$breakpoint-sm) {
        flex: 0 0 50%;
        max-width: 50%;
    }
    @media (min-width: variables.$breakpoint-md) {
        flex: 0 0 calc(100% / 3);
        max-width: calc(100% / 3);
    }
}

.filter {
    text-align: right;

    p {
        color: #ffffff;
        display: inline-block;
        margin: 0;
        margin-bottom: 0;
        margin-right: 16px;
        font-size: 1.5rem;
        font-family: 'Mulish', sans-serif;
        font-weight: 400;
        line-height: 25px;
    }

    @media only screen and (max-width: calc(variables.$breakpoint-md - 1px)) {
        text-align: left;
    }
}

// select

.nice-select {
    float: none;
    display: inline-block;

    font-size: 1.5rem;
    color: #3d3d3d;
    font-weight: 700;
    border-radius: 0;
    padding-left: 15px;
    padding-right: 15px;
    height: 32px;
    line-height: 32px;
    background-color: #fff;
    border: solid 1px #e8e8e8;
    cursor: pointer;
    outline: none;
    position: relative;
    text-align: left !important;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: auto;

    &:focus {
        border-color: #999;
    }
}

.nice-select.open {
    border-color: #999;
}

.nice-select ul {
    margin: 0;
    border-radius: 0;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform: scale(0.75) translateY(-21px);
    -ms-transform: scale(0.75) translateY(-21px);
    transform: scale(0.75) translateY(-21px);
    -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9;
}

.nice-select.open ul {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale(1) translateY(0);
    -ms-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
}

.option {
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.filter-focus {
    font-weight: 700 !important;
    background-color: #f6f6f6;
}

.nice-select svg {
    margin-left: 15px;
    transform: rotate(180deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

.nice-select.open svg {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

// pagination

.pagination {
    padding-top: 15px;
    text-align: center;

    div {
        display: inline-block;
        font-size: 1.5rem;
        color: #b7b7b7;
        font-weight: 600;
        height: 50px;
        width: 50px;
        border: 1px solid transparent;
        border-radius: 50%;
        line-height: 48px;
        text-align: center;
        -webkit-transition: all, 0.3s;
        -o-transition: all, 0.3s;
        transition: all, 0.3s;
        cursor: pointer;
    }
}

.page-selected {
    border: 1px solid #ffffff !important;
}

.pagination button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    margin: 0 5px;
    color: #b7b7b7;

    &:disabled {
        color: #6b6b6b;
    }
}

.ellipsis {
    color: gray;
    cursor: default;
    margin: 0px 5px;
}
