.wrapper {
    background: #000;
    height: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.wrapper video {
    display: block;
    height: 100%;
    width: 100%;
}
