.wrapper {
    padding-top: 35px;
}

.links-container {
    display: flex;
    flex-wrap: wrap;
}

.links {
    flex: 0 0 100%;
    max-width: 100%;

    a {
        font-size: 1.5rem;
        color: #ffffff;
        display: inline-block;
        position: relative;
        text-decoration: none;
        background-color: transparent;
    }

    span {
        font-size: 1.5rem;
        color: #b7b7b7;
        display: inline-block;
    }
}

.house {
    margin-right: 8px;
    color: #e53637;
    font-size: 1.2rem;
    top: -2px;
    position: relative;
}

.arrow {
    margin: 0 5px;
}
