.wrapper {
}

.star {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
}

.background-star {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.foreground-star {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
}
