@use '../GlobalStyles/Variables.scss' as variables;
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.wrapper {
    padding-top: 50px;
    overflow: hidden;
}

.carousel {
    display: block;
    width: 100%;
    z-index: 1;
    position: relative;
}

.slider-outer {
    overflow: hidden;
    position: relative;
}

.nav {
    @media (max-width: 479px) {
        display: none;
    }
}

.nav-btn {
    border: none;
    padding: 0 !important;
    font: inherit;
    cursor: pointer;

    &::after {
        position: absolute;
        top: 6px;
        left: 0;
        right: 0;
        height: 54px;
        width: 54px;
        background: rgba(255, 255, 255, 0.1);
        content: '';
        z-index: -1;
        margin: 0 auto;
    }
}

.nav-btn-prev {
    font-size: 2.4rem;
    height: 66px;
    width: 66px;
    background: #0b0c2a;
    line-height: 66px;
    text-align: center;
    color: #ffffff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1;
    position: absolute;
    left: -33px;
    top: 50%;
    margin-top: -47px;
}

.nav-btn-next {
    left: auto;
    right: -33px;
    font-size: 2.4rem;
    height: 66px;
    width: 66px;
    background: #0b0c2a;
    line-height: 66px;
    text-align: center;
    color: #ffffff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1;
    position: absolute;
    top: 50%;
    margin-top: -47px;
}

.nav-btn > span {
    transform: rotate(-45deg);
    display: block;
}

.nav-btn > span > svg {
    text-align: center;
}

.dots {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.dot,
.activeDot {
    cursor: pointer;
    margin: 0 5px;
    font-size: 1.5em;
    color: #b7b7b7;
}

.activeDot {
    color: #ffffff;
}

.slider {
    display: flex;
}

.slider-item {
    text-align: center;
    border-radius: 5px;
}

.slider-img {
    padding: 250px 0 42px 50px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.slider-detail-container {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.slider-detail {
    width: 100%;
    flex: 0 0 50%;
    max-width: 50%;
}

.detail {
    position: relative;
    z-index: 9;
}

.label {
    font-size: 1.3rem;
    color: #e53637;
    background: #ffffff;
    padding: 5px 14px 3px;
    display: inline-block;
    position: relative;
    top: -100px;
    opacity: 0;
    -webkit-transition: all, 0.2s;
    -o-transition: all, 0.2s;
    transition: all, 0.2s;
}

.detail h2 {
    color: #ffffff;
    font-size: 4.2rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    line-height: 5.2rem;
    margin-top: 35px;
    margin-bottom: 8px;
    position: relative;
    top: -100px;
    opacity: 0;
    -webkit-transition: all, 0.4s;
    -o-transition: all, 0.4s;
    transition: all, 0.4s;
}

.detail p {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 40px;
    position: relative;
    top: -100px;
    opacity: 0;
    -webkit-transition: all, 0.6s;
    -o-transition: all, 0.6s;
    transition: all, 0.6s;
}

.detail a {
    position: relative;
    top: -100px;
    opacity: 0;
    -webkit-transition: all, 0.8s;
    -o-transition: all, 0.8s;
    transition: all, 0.8s;
}

.detail a > div {
    display: inline-block;
    background: #e53637;
    padding: 10px 5px 13px 8px;
    color: #ffffff;
    border-radius: 0 4px 4px 0;
}

.detail a span {
    font-size: 1.3rem;
    color: #ffffff;
    background: #e53637;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 14px 20px;
    border-radius: 4px 0 0 4px;
    margin-right: 1px;
}

.carousel .slider-item.active-item .detail .label,
.carousel .slider-item.active-item .detail h2,
.carousel .slider-item.active-item .detail p,
.carousel .slider-item.active-item .detail a {
    top: 0;
    opacity: 1;
}
